# Bu dosya, belirli dosya veya dizinler için otomatik gözden geçirenleri tanımlar
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Varsayılan olarak proje sahibi tüm dosyalardan sorumludur
* @tarikcelik

# Frontend kodları
/src/frontend/ @frontend-team-lead

# Backend kodları
/src/backend/ @backend-team-lead

# API
/src/backend/api/ @api-team-lead

# Veritabanı
/src/backend/database/ @db-team-lead

# CI/CD
/.github/workflows/ @devops-lead

# Dokümantasyon
/docs/ @documentation-lead

# Test
/src/*/tests/ @qa-lead 